body {
    background-color: lightblue;
}

p {
  font-family: Helvetica;
  color: black;
  font-size: 15px;
}

h1 {
  font-family: Helvetica;
  color: black;
  font-size: 30px;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 400px;   
    background-color: teal;
}

.tooltip {
  text-decoration: underline;
}
